<template>
  <div class="home container">

    <!-- Header -->
    <div class="row">
      <h1 class="col-sm-8">Buildit</h1>
      <div class="col-sm-4">
        <div v-if="isAuthenticated" style="float:right;">
          <router-link style="margin-right:8px;" to="/new-plant-hire-request" class="btn btn-success">Request plant hire</router-link>
          <router-link style="margin-right:8px;" to="/purchaseOrders" class="btn btn-success">Purchase Orders</router-link>
          <router-link style="margin-right:8px;" to="/invoices" class="btn btn-success">Invoices</router-link>
          <button class="btn btn-light" v-on:click="logout()">Log Out</button>
        </div>
        <div class="row" style="text-align:right;" v-else>
          <div class="col-sm-9">Already have an account?</div><div class="col-sm-3"><router-link to="login">Login</router-link></div>
        </div>
      </div>
    </div>

    <hr>

    <div v-if="isAuthenticated">
      <plantHireRequests></plantHireRequests>
    </div>

    <div v-else>
      <p>You must be logged in to use this service.</p>
    </div>
  </div>
</template>

<script>

import Login from './Login'
import PlantHireRequests from './PlantHireRequests'
import auth from '../auth'

export default {
  name: 'Home',
  components: { Login, PlantHireRequests },
  data () {
    return {
      isAuthenticated: false
    }
  },
  mounted () {
    this.checkAuth()
  },
  methods: {
    checkAuth () {
      this.isAuthenticated = auth.authenticated()
    },
    logout () {
      auth.logout()
      this.isAuthenticated = false
    }
  }
}

</script>

<style>
</style>
