<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div class="row">
      <h1 class="col-sm-8">Buildit - Invoices</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>
    <div v-if="invoices.length == 0" style="">
      <i>You don't have any invoices orders yet!</i>
    </div>
    <template v-if="invoices.length > 0">
      <div class="row">
        <h3>Purchase orders</h3>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Price</th>
          <th>PlantHireRequest ID</th>
          <th>PlantHireRequest plant reference</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Purchase Order ID</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr v-for="(invoice, index) in invoices" :key="index">
          <td>{{ invoice._id }}</td>
          <td>{{ invoice.plantRequest.price }}</td>
          <td>{{ invoice.plantRequest._id }}</td>
          <td>{{ invoice.plantRequest.plantReference }}</td>
          <td>{{ invoice.plantRequest.rentalPeriod.startDate }}</td>
          <td>{{ invoice.plantRequest.rentalPeriod.endDate }}</td>
          <td>{{ invoice.purchaseOrderReference }}</td>
          <td>{{ invoice.status }}</td>
          <td>
            <v-btn v-if="invoice.status === 'UNPAID'" class="btn btn-danger" v-on:click="acceptInvoice(invoice._id, index)">Approve</v-btn>
            <v-btn v-if="invoice.status === 'APPROVED'" class="btn btn-danger" v-on:click="submitRemittance(invoice._id, index)">Submit remittance advice</v-btn>
          </td>
        </tr>
      </table>
    </template>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import auth from '../auth'
import popUp from './popUp'

export default {
  name: 'Invoices',
  data () {
    return {
      timer: '',
      newEndTime: undefined,
      invoices: [],
      isAdmin: false
    }
  },
  mounted () {
    this.getInvoices()
    this.isAdmin = auth.isAdmin()
  },
  methods: {
    getInvoices () {
      axios.get('http://localhost:8080/api/invoices').then(response => {
        if (response.data._embedded) {
          console.log(response)
          this.invoices = []
          response.data._embedded.invoiceDToes.forEach((value) => {
            this.invoices.push(value)
          })
        }
      })
    },
    acceptInvoice (id, index) {
      axios
        .post('http://localhost:8080/api/invoices/' + id + '/accept', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Invoice accepted')
          } else {
            popUp.showErrorPopup('Invoice not accepted')
          }
          this.getInvoices()
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    submitRemittance (id, index) {
      axios
        .post('http://localhost:8080/api/invoices/' + id + '/remittance', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Remittance submitted')
          } else {
            popUp.showErrorPopup('An error occurred')
          }
          this.getInvoices()
        })
    },
    getPurchaseOrder () {
      axios.get('http://localhost:8080/api/sales/orders').then(response => {
        if (response.data._embedded) {
          this.purchaseOrders = []
          response.data._embedded.purchaseOrderDToes.forEach((value) => {
            this.purchaseOrders.push(value)
          })
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    }
  }
}
</script>

<style>
</style>
