<template>
  <div class="row">
    <div class="well offset-sm-2 col-sm-8">
      <div class="row">
        <h2 class="col-sm-8">Log In</h2>

        <div class="col-sm-4" style="text-align:right;">
          <router-link to="/">Back Home</router-link>
        </div>
      </div>

      <hr>

      <div>
        <v-form v-model="isFormValid">
          <div class="form-group">
            <label for="username">Username:</label>
            <v-text-field type="text" id="username" :rules="notEmpty" v-model="username"></v-text-field>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <v-text-field type="password" id="password" :rules="notEmpty" v-model="password"></v-text-field>
          </div>
        </v-form>

        <div class="row">
          <div class="col-sm-8">
            <v-btn type="submit" class="btn btn-success" v-on:click="login" :disabled="!isFormValid">Login</v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import auth from '../auth'

export default {
  data: function () {
    return {
      username: '',
      password: '',
      isFormValid: isFormValid(this.username, this.password),
      notEmpty: [
        v => v && v.length > 0
      ]
    }
  },
  methods: {
    login: function () {
      auth.login(this, {username: this.username, password: this.password}, '/')
    }
  }
}

function isFormValid (username, password) {
  return !!(username && password && password.length >= 8)
}

</script>
