<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div v-if="plantHireRequests.length == 0" style="">
       <i>You don't have any plant hire requests yet!</i>
    </div>
    <template v-if="plantHireRequests.length > 0">
      <div class="row">
        <h3>Plant hire requests</h3>
      </div>
      <table class="table">
        <tr>
          <th>Site engineer name</th>
          <th>Site id</th>
          <th>Supplier</th>
          <th>Plant reference</th>
          <th>Price</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr v-for="(plantHireRequest, index) in plantHireRequests" :key="index">
          <td>{{ plantHireRequest.siteEngineerName }}</td>
          <td>{{ plantHireRequest.siteId }}</td>
          <td>{{ plantHireRequest.supplier }}</td>
          <td>{{ plantHireRequest.plantReference }}</td>
          <td>{{ plantHireRequest.price }}</td>
          <td>{{ plantHireRequest.rentalPeriod.startDate }}</td>
          <td>{{ plantHireRequest.rentalPeriod.endDate }}</td>
          <td>{{ plantHireRequest.status }} </td>
          <td>
            <v-btn v-if="plantHireRequest.status === 'PENDING'" class="btn btn-danger w-100" v-on:click="cancelPlantHireRequest(plantHireRequest._id, index)">Cancel</v-btn>
            <v-btn v-if="plantHireRequest.status === 'PENDING' && isAdmin" class="btn btn-danger w-100" v-on:click="rejectPlantHireRequest(plantHireRequest._id, index)">Reject</v-btn>
            <v-btn v-if="plantHireRequest.status === 'PENDING' && isAdmin" class="btn btn-danger w-100" v-on:click="approvePlantHireRequest(plantHireRequest._id, plantHireRequest.rentalPeriod.startDate, plantHireRequest.rentalPeriod.endDate, plantHireRequest.plantReference, index)">Approve</v-btn>

            <div v-if="plantHireRequest.status === 'PENDING'">
              <router-link :to="'/edit/' + plantHireRequest._id" class="btn btn-success w-100">Edit</router-link>
            </div>
            <router-link :to="'/plant-hire-requests/' + plantHireRequest._id" class="btn btn-info w-100">View</router-link>
          </td>
        </tr>
      </table>
    </template>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import auth from '../auth'
import popUp from './popUp'

export default {
  name: 'plantHireRequests',
  data () {
    return {
      timer: '',
      plantHireRequests: [],
      isAdmin: false
    }
  },
  mounted () {
    this.getPlantHireRequests()
    this.isAdmin = auth.isAdmin()
  },
  methods: {
    getPlantHireRequests () {
      axios.get('http://localhost:8080/api/plantHire/requests').then(response => {
        this.plantHireRequests = []
        if (response.data._embedded) {
          response.data._embedded.plantHireRequestDToes.forEach((value) => {
            this.plantHireRequests.push(value)
          })
        }
      })
    },
    cancelPlantHireRequest (plantHireRequestID, index) {
      axios
        .post('http://localhost:8080/api/plantHire/requests/' + plantHireRequestID + '/cancel', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            this.plantHireRequests.splice(index, 1, response.data)
            this.getPlantHireRequests()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    rejectPlantHireRequest (plantHireRequestID, index) {
      axios
        .post('http://localhost:8080/api/plantHire/requests/' + plantHireRequestID + '/reject', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            this.plantHireRequests.splice(index, 1, response.data)
            this.getPlantHireRequests()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    approvePlantHireRequest (plantHireRequestID, startDate, endDate, plantReference, index) {
      var elements = plantReference.split('/')
      var id = elements[elements.length - 1]
      const headers = {headers: auth.getAuthHeader()}
      const requestBody = {startDate: startDate, endDate: endDate, plantId: id}
      let approve = 'http://localhost:8080/api/plantHire/requests/' + plantHireRequestID + '/approve'
      let createPO = 'http://localhost:8080/api/plantHire/order'
      const requestOne = axios.post(approve, {}, headers)
      const requestTwo = axios.post(createPO, requestBody, headers)
      axios
        .all([requestOne, requestTwo])
        .then(response => {
          popUp.showSuccessPopup('Request approved and purchase order created')
          this.getPlantHireRequests()
        })
        .catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    }
  }
}

</script>

<style>
</style>
