<template>
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">RentIT - New Purchase Order</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>

    <hr>

    <div>
        <div class="form-group">
          <label>Due date</label>
          <el-date-picker
            v-model="duration"
            type="date"
            start-placeholder="Date"
            :picker-options="pickerOptions" />
        </div>

        <div class="form-group">
          <label>Amount</label>
        <input type="number" v-model="amount" min="1">
        </div>

        <hr>
        <div class="row">
          <div class="col-sm-4">
            <v-btn type="submit" class="btn btn-success" v-on:click="submit">Create</v-btn>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import popUp from './popUp'
import axios from 'axios'

export default {
  name: 'CreateInvoice',
  data: function () {
    return {
      duration: null,
      amount: 0,
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      }
    }
  },
  methods: {
    submit: function () {
      const requestBody = {purchaseOrderReference: this.$route.params.id, dueDate: this.duration, amount: this.amount}

      console.log(requestBody)
      axios.post('http://localhost:8080/api/invoices/create', requestBody)
        .then(response => {
          popUp.showSuccessPopup('Invoice created')
          this.$router.push('/')
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          popUp.showErrorPopup(error.response.data.error.message)
        })
    }
  }
}

</script>
