<template>
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">RentIT - New maintenance task</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>

    <hr>

    <div>
      <v-form v-model=isFormValid>

        <div class="form-group">
          <label for="duration">Maintenance task time</label>
          <el-date-picker
            v-model="duration"
            type="daterange"
            align="right"
            range-separator="To"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            :picker-options="pickerOptions" />
          <br>
          <br>
          <label for="description">Description</label>
          <v-text-field type="text" id="description" :rules="notEmpty" v-model="description"></v-text-field>

          <label for="plant">Select type of maintenance task</label>
          <select id="maintenanceTask" class="form-control" v-model="type">
            <option v-for="maintenanceTaskType in this.maintenanceTaskTypes" :value="maintenanceTaskType" :key="maintenanceTaskType">{{ maintenanceTaskType  }}</option>
          </select>

        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <v-btn type="submit" class="btn btn-success" v-on:click="submit" :disabled="!isFormValid">Create</v-btn>
          </div>
        </div>
      </v-form>
    </div>
  </div>
</template>

<script>
import popUp from './popUp'
import axios from 'axios'

export default {
  name: 'newMaintenanceTask',
  data: function () {
    return {
      description: '',
      maintenanceTaskTypes: [
        'PREVENTIVE',
        'CORRECTIVE',
        'OPERATIONAL'
      ],
      duration: [],
      type: '',
      isFormValid: false,
      notEmpty: [
        v => v && v.length > 0
      ],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      }
    }
  },
  methods: {
    submit: function () {
      const requestBody = {reservationId: this.$route.params.id, startDate: this.duration[0], endDate: this.duration[1], type: this.type}
      axios.post('http://localhost:8090/api/maintenance/tasks', requestBody)
        .then(response => {
          popUp.showSuccessPopup('Maintenance task placed successfully')
          if (Object.keys(response.data)[0] !== '') {
            popUp.showInfoPopup(Object.keys(response.data)[0])
          }
          this.$router.push('/')
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          if (error && error.response && error.response.data && error.response.data.error && error.response.data.error.message) {
            popUp.showErrorPopup(error.response.data.error.message)
          }
          popUp.showErrorPopup('Something went wrong')
        })
    }
  }
}

// eslint-disable-next-line
function isFormValid (duration, plantId, status) {
  return !!(isValidDate(duration[0]) && isValidDate(duration[1]) && this.type && this.type !== '' && this.description && this.description !== '')
}

function isValidDate (dateString) {
  if (!dateString.match(/^\d{4}-\d{2}-\d{2}$/)) {
    return false
  }
  var d = new Date(dateString)
  var dNum = d.getTime()
  if (!dNum || dNum !== 0) {
    return false
  }
  return d.toISOString().slice(0, 10) === dateString
}

</script>
