<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div v-if="purchaseOrders.length == 0" style="">
       <i>You don't have any purchase orders yet!</i>
    </div>
    <template v-if="purchaseOrders.length > 0">
      <div class="row">
        <h3>Purchase orders</h3>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Plant ID</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="(purchaseOrder, index) in purchaseOrders" :key="index">
          <td>{{ purchaseOrder._id }}</td>
          <td>{{ purchaseOrder.rentalPeriod.startDate }}</td>
          <td>{{ purchaseOrder.rentalPeriod.endDate }}</td>
          <td>{{ purchaseOrder.plantId }}</td>
          <td>{{ purchaseOrder.status }}</td>
          <td><router-link style="margin-right:8px;" :to="`/purchase-orders/${purchaseOrder._id}`" class="btn btn-success">View purchase order details</router-link></td>
          <td>
            <v-btn v-if="purchaseOrder.status === 'ACCEPTED'" class="btn btn-success" v-on:click="dispatchPO(purchaseOrder._id, index)">Dispatch</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PLANT_DISPATCHED'" class="btn btn-success" v-on:click="rejectPOByCustomer(purchaseOrder._id, index)">Reject</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PLANT_DISPATCHED'" class="btn btn-success" v-on:click="markPOAsDelivered(purchaseOrder._id, index)">Plant is delivered</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PLANT_DELIVERED'" class="btn btn-success" v-on:click="markPOAsReturned(purchaseOrder._id, index)">Plant is returned</v-btn>
            <router-link v-if="purchaseOrder.status === 'PLANT_DELIVERED' || purchaseOrder.status === 'PLANT_DISPATCHED' || purchaseOrder.status === 'REJECTED_BY_CUSTOMER' || purchaseOrder.status === 'PLANT_RETURNED'" class="btn btn-success" :to="'/new-maintenance/' + purchaseOrder.plantId">Add maintenance</router-link>
          </td>
        </tr>
      </table>
    </template>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import popUp from './popUp'

export default {
  name: 'purchaseOrders',
  data () {
    return {
      newEndTime: '',
      timer: '',
      purchaseOrders: []
    }
  },
  mounted () {
    this.getPurchaseOrders()
  },
  methods: {
    getPurchaseOrders () {
      axios.get('http://localhost:8090/api/sales/orders').then(response => {
        if (response.data._embedded) {
          this.purchaseOrders = []
          response.data._embedded.purchaseOrderDToes.forEach((value) => {
            this.purchaseOrders.push(value)
          })
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    },
    dispatchPO (id, index) {
      axios
        .post('http://localhost:8090/api/sales/orders/' + id + '/dispatch', {})
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order dispatched')
            this.getPurchaseOrders()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    rejectPOByCustomer (id, index) {
      axios
        .post('http://localhost:8090/api/sales/orders/' + id + '/reject-by-customer', {})
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order was rejected')
            this.getPurchaseOrders()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    markPOAsDelivered (id, index) {
      axios
        .post('http://localhost:8090/api/sales/orders/' + id + '/mark-as-delivered', {})
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order delivered')
            this.getPurchaseOrders()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    markPOAsReturned (id, index) {
      axios
        .post('http://localhost:8090/api/sales/orders/' + id + '/return', {})
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order returned')
            this.getPurchaseOrders()
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    }
  }
}

</script>

<style>
</style>
